@page
@model IndexModel
@{
    ViewData["Title"] = "Kickapoo Intranet";
}

<!DOCTYPE html>
<html>

<body>
    <div class="main">
        <div class="text-center">
            <h1 class="display-4">Kickapoo Intranet</h1>
            <p>Welcome to the Kickapoo Casinos Intranet.  Here you will fine several resources to help you.</p>
        </div>
        <div class="row">
            <div class="column">
                <img src="~/Images/KickapooToday/page0001.jpg" width="520" height="710" />
            </div>
            <div class="column">
                <img src="~/Images/KickapooToday/Shawnee.jpg" width="520" height="710" />
            </div>
        </div>
    </div>

</body>
</html>