@page
@model IndexModel
@{
    ViewData["Title"] = "Kickapoo Intranet";
}

<div class="text-center">
    <h1 class="display-4">Systems Access Request Form</h1>
    <p>Please use the form below for all Employment status changes.</p>
    <p>New Hire / Trasnfer / Termination / Suspension / Reinstatement / Name Change</p>
</div>
