@page
@model IndexModel
@{
    ViewData["Title"] = "Kickapoo Intranet";
}

<div class="text-center">
    <h1 class="display-4">Kickapoo Intranet</h1>
    <p>Welcome to the Kickapoo Casinos Intrane.  Here you will fine several resources to help you.</p>
</div>
<div>
    <img src="~/Images/KickapooToday/page0001.jpg" width="104" height="142"/>
</div>
<div class="btn-block">
    <a href="/SARF">Systems Access Request Form</a>
</div>