@page
@model Systems_Access_Request_Form.Pages.splashModel
@{
}

<html>
<head>
    <title>Before we begin</title>
  
    <script type="text/javascript">

    </script>
</head>
<body>
    <div class="text-center"><p>By clicking the button below you agree not to participate in any shenanigans on this site</p></div>
    <div class="row"><img src="~/Images/dhfgjvd4.bmp" /></div>
    <form action="/index">
        <input type="submit" value="Accept" />
    </form>

</body>
</html>